/* Estilos para el contenedor principal del quiz */
.quiz-container {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Estilos para los botones */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Estilos para el texto dentro de los botones */
  button {
    color: #fff;
  }
  .quiz-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
  }
  
  .quiz-container {
    max-width: 400px;
    padding: 20px;
    background-color: #10c171;
    border-radius: 10px;
  }
  .quiz-title {
    text-align: center;
    font-size: 24px;
    color: #2e0ebe;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .answers-container {
    display: flex;
    flex-direction: column;
  }
  
  .answer-button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #000000;
  }
  
  .answer-button:hover {
    background-color: #1e8ad2;
  }
  
  .answer-button.selected {
    background-color: #ccc;
  }
  .timer {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #333;
  }
  .reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #102892;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reset-button:hover {
    background-color: #980303;
  }
  input[type="text"] {
    margin-bottom: 10px;
    margin-right: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 14px;
  }
  
  